{% extends 'base.html' %}

{% block content %}

{% load static %}
<main>
    <!-- Banner News Area Start -->
    <div class="banner-news">
        <div class="container-fluid p-0">
            <div class="banner-slider-active no-gutters ">
                <!-- 현재 방송중인 bj들의 리스트를 슬라이드 형식으로 제공 -->
                {% if video_info %}
                    {% for video in video_info %}
                        <div class="single-sliders">
                            <div class="single-baner-nw mb-30 text-center">
                                <div class="banner-img-cap">
                                    <div class="banner-img">
                                        <!-- video송출 page구현하고 링크 걸기 -->
                                        <a href="{% url 'streaming:streaming' video.user.username %}"><img src="{{video.user.img.url}}" alt=""></a>
                                        <!--video iocn -->
                                        <div class="video-icon">
                                            <!-- 방송중인 page로 이동 -->
                                            <a class="popup-video btn-icon" href="{% url 'streaming:streaming' video.user.username %}" data-animation="bounceIn" data-delay=".4s"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="banner-cap">
                                        <p>{{video.title}}</p>
                                        <h3><a href="{% url 'account:profile' video.user.username %}">{{video.user.nickname}}</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="single-sliders">
                    <div class="single-baner-nw mb-30 text-center">
                        <div class="banner-img-cap">
                            <div class="banner-img">
                                <!-- video송출 page구현하고 링크 걸기 -->
                                <a href="{% url 'home' %}"><img src="{% static 'assets/img/gallery/ready.png'%}" alt=""/></a>
                                <!--video iocn -->
                                <div class="video-icon">
                                    <!-- 방송중인 page로 이동 -->
                                    <a class="popup-video btn-icon" href="{%url 'home' %}" data-animation="bounceIn" data-delay=".4s"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="banner-cap">
                                <p>준비중입니다.</p>
                                <h3><a href="{% url 'home' %}">죄송합니다</a></h3>
                            </div>
                        </div>
                    </div>
                </div>                       
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Banner News Area End -->
    <!-- Video Area Start -->
    <div class="video-area">
        <div class="container-fluid">
            <div class="video-wrapper">
                <div class="left-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section-tittle section-tittle2 mb-35">
                                <h2 class="mb-10">MANGO</h2>
                                <p>초상권 침해 방지 시스템</p>
                                <p class="video-cap">
                                    오늘날<br> 가장 주목받는<br> 방송 플랫폼
                                </p>
                                <small>Mango / BJ</small>
                            </div>
                        </div>
                        <!--Left Single -->
                        <div class="col-lg-6 col-md-6">
                            <div class="single-baner-nw4 mb-30">
                                <div class="banner-img-cap4">
                                    <div class="banner-img4">
                                        <img src="{% static 'assets/img/gallery/video_img1.png'%}" alt="">
                                        <!--video iocn -->
                                        <div class="video-icon video-icon2">
                                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0" data-animation="bounceIn" data-delay=".4s"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="banner-cap4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-baner-nw4 mb-30">
                                <div class="banner-img-cap4">
                                    <div class="banner-img4">
                                        <img src="{% static 'assets/img/gallery/video_img2.png'%}" alt="">
                                        <!--video iocn -->
                                        <div class="video-icon video-icon2">
                                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0" data-animation="bounceIn" data-delay=".4s"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="banner-cap4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="video-img">
                        <img src="{% static 'assets/img/gallery/video_bg.png'%}" alt="">
                        <!--video iocn -->
                        <div class="video-icon video-icon2">
                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0" data-animation="bounceIn" data-delay=".4s"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Area End -->
    <!-- Top Posts Start -->
    <div class="top-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-tittle mb-35">
                        <h2><br>인기 동영상</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-lg-between">
                <div class="col-lg-8 col-md-8">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#"><img src="{% static 'assets/img/gallery/top-psot1.png'%}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <span>남순 NS</span>
                                <a href="post_details.html"><h4>강남일대가 마비됐습니다 ㄷㄷ</h4></a>
                                <p>#감스트 #세야 #감남세야킹</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#"><img src="{% static 'assets/img/gallery/top-psot2.png'%}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <span>케이</span>
                                <a href="post_details.html"><h4>저랑 똑같이 생긴 사람을 만났습니다..ㄷㄷ[강남야외방송]</h4></a>
                                <p>2020.11.20</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#"><img src="{% static 'assets/img/gallery/top-psot3.png'%}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <span>남순 NS</span>
                                <a href="post_details.html"><h4>강남에서 야외방송을 하면 생기는 일</h4></a>
                                <p>#강남 #야킹 #남순</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#"><img src="{% static 'assets/img/gallery/top-psot4.png'%}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <span>뜨뜨뜨뜨</span>
                                <a href="post_details.html"><h4>처음으로 야외방송 도전 with 슈기x킴성태x전하</h4></a>
                                <p>안녕하세요 재미있게 시청하셨다면 좋아요와 구독 부탁드립니다</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="google-add mb-40">
                        <img src="{% static 'assets/img/gallery/Ad.png'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Posts End -->
</main>
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-lg-block d-none">
                   <div class="container">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex justify-content-center">
                                </div>
                                <div class="header-info-mid">
                                    <!-- logo -->
                                    <div class="logo">
                                        <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo/logo.png'%}" alt=""></a>
                                    </div>
                                </div>
                                <div class="header-info-right d-flex align-items-center">
                                   
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom header-bottom2 ">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-12">
                            </div> 
                        </div>
                    </div>
               </div>
            </div>
       </div>
    </div>
</footer>

{% endblock %}